<div class="bodyStyle">
  <div class="header_container">
    <div class="logo">

    </div>
  <div class="blurb">
  Our mission is to provide compassionate patient care with seamless
          coordination and to advance medicine through unrivaled education,
          research, and outreach in the many diverse communities we serve.
          Our exceptional team of industry experts brings the vision and management expertise
          that enables us to to continue to grow and challenge convention through our pioneering spirit,
          scientific advancements, forward-thinking leadership, and collaborative approach to offering exceptional
          patient care in the many unique communities we serve – while maintaining our national and international prominence.
    </div>
    </div>
  <!-- TABELA SVIH OBJEKATA -->


  <div class="objectTable_grid">
    <table class="table">
      <tr class="table-header">
        <th class="header__item">Pacijent</th>
        <th class="header__item">Komentar</th>
      </tr>
      <tr class="table-row">
        <td class="table-data"></td>
        <td class="table-data"></td>
      </tr>
  </table>
</div>



		</div>

