<div class="grid">

  <div class="header-grid">
    <h1 >HealthcareMD</h1>
    <p>
      Our mission is to provide compassionate patient care with seamless
      coordination and to advance medicine through unrivaled education,
      research, and outreach in the many diverse communities we serve.
      Our exceptional team of industry experts brings the vision and management expertise
      that enables us to to continue to grow and challenge convention through our pioneering spirit,
      scientific advancements, forward-thinking leadership, and collaborative approach to offering exceptional
      patient care in the many unique communities we serve – while maintaining our national and international prominence.
    </p>
  </div>

  <div class="table-grid">
    <table class="fl-table" cellspacing="0">
      <tr>
        <th>Id</th>
        <th>PatientID</th>
        <th>Text</th>
      </tr>
      <tr *ngFor="let feedback of feedbacks">
        <td>{{feedback.id}}</td>
        <td>{{feedback.patientId}}</td>
        <td>{{feedback.text}}</td>
      </tr>
    </table>
    <button class="btn btn-white btn-animated"> Leave feedback</button>
  </div>
</div>
