
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@font-face {
  font-family: OpenSans;
  src: url('/assets/fonts/OpenSans-CondLight.ttf'); /* IE9 */
}

body {
  overflow: auto;
  font-family: 'Varela Round', sans-serif;
  background-image: url(/assets/images/header.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat:repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 500%;
  color: rgb(31,82,109);
  font-weight:200;
  font-stretch:ultra-condensed;
}

p {
  margin-top: 3%;
  width: 60%;
  color: rgb(94,111,120);
}

.grid {
  
  display: grid;
  grid-template-rows: 1.6fr 1.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "header-grid"
    "table-grid";
}

.header-grid {
  grid-area: header-grid;
  margin-top: 10%;
  margin-left: 10%;
  font-size: large;
}

.table-grid {
  grid-area: table-grid;
  width: 60%;
  margin-left: 10%;
}
.input-field {
  margin-left: -140%;
  margin-top:30%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 7% 93%;
  gap: 0px 0px;
  grid-template-areas:
    "toolbar toolbar"
    "grid input-grid";
}

.toolbar {
  grid-area: toolbar;
  background-image: linear-gradient(to bottom, rgb(196, 196, 196), white);
  display: grid;
  grid-template-columns: 0.05fr 0.2fr 0.1fr;
  gap: 10px;
  grid-template-areas:
    "logo-grid nameToolbar-grid user-grid"
}

.input-grid {
  grid-area: input-grid;
}

.nameToolbar-grid {
    margin-top:17px;
  grid-area: nameToolbar-grid;
  font-family: "OpenSans", sans-serif;
  color: rgb(94,111,120);
  font-size:25px;
}

.logo-grid {
    margin-left:100px;
  height:55px;
  width:55px;
  grid-area: logo-grid;
  background:transparent;
  background-image: url(/assets/images/logo.png);
  background-size:55px;
  border:0;
}

.user-grid {
    margin-left:1000px;
  grid-area: user-grid;
  height: 45px;
  width: 50px;
  margin-top:5px;
  background: transparent;
  background-image: url(/assets/images/user.png);
  background-size: 50px;
  border: 0;
}

.table-wrapper {
  
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  margin-top: 3%;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


.btn{
    margin-left:40%;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border:none;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}


.user-menu{
  position: absolute;
  z-index: 2;
  width:160px;
  height:80px;
  background-color: white;
  border-radius: 10px;
  margin-left:82%;
  margin-top:5%;
} 
/*strelica*/
.user-menu:before{
  content: "";
  position: absolute;
  top: -10px;
  left:30px;
  rotate: 90deg;
  z-index: 1;
  border: solid 15px transparent;
  border-right-color: #FFF;
}

ul{
  margin-top:0;
  margin-left:-24%;
  list-style: none;
}

li{
  vertical-align: middle;
  height: 35px;
  color: rgb(159, 175, 184);
  text-align: center;
}