<div class="bodyStyle">
  <div class="header_container">
    <div class="logo">

    </div>
  <div class="blurb">

    </div>
    <button > Leave feedback </button>
    </div>
  <!-- TABELA SVIH OBJEKATA -->


  <div class="objectTable_grid">
    <table class="table">
      <tr class="table-header">
        <th class="header__item">Pacijent</th>
        <th class="header__item">Komentar</th>
      </tr>
      <tr class="table-row">
        <td class="table-data"></td>
        <td class="table-data"></td>
      </tr>
  </table>
</div>



		</div>

