
<body>
  <div class="row" style="margin-left:-15%">
  <button class="back_btn" style="margin-left:-10%; margin-top:0%;" (click)="goBack()"></button>
    <form id="formlogin" style="display: inline-block; width:90%;margin-left:20%; margin-top:-5%">
      <table class="login_container" *ngIf="!showTable">
        
          <tr>
            <td align="center">
                  <div class="row">
                      <p class="block">Choose the specialty:</p>
                      <select [(ngModel)]="selectedSpecialty" on-click="loadSpecialty()" name="specialty" >
                        <option  *ngFor="let specialty of specialties">{{specialty}}</option>
                      </select>
                    </div>
            </td>
          </tr>
        <tr>
          <td align="center">
                <div class="row">
                    <p class="block">Choose a doctor:</p>
                    <select [(ngModel)]="appointment.doctorId" name="selectedDoctor" id="selectedDoctor" >
                      <option selected disabled hidden>Pick a doctor</option>
                      <option  *ngFor="let doctor of doctors" [ngValue]="doctor.id">{{doctor.name}} {{doctor.surname}}</option>
                    </select>
                  </div>
          </td>
        </tr>
        <tr>
            <td align="center">
                  <div class="row">
                      <p class="block">Choose the date:</p>
                      <input [min]="changedDate"  type="date"  [(ngModel)]="appointment.dateString" name="date">
                    </div>
            </td>
        </tr>
          <tr>
            <td align="center">
              <button class="btn" (click)="send()">Get appointment options</button>
            </td>
          </tr>
      </table>

      <table class="container2" *ngIf="showTable" >
        <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" class="fl-table">
            <ng-container matColumnDef="doctorName" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center" > Doctor </th>
                <td mat-cell *matCellDef="let appointment" class="clickable cell-center" >{{appointment.doctorName}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Date </th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.dateString}}</td>
            </ng-container>
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Time </th>
              <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.timeString}}</td>
           </ng-container>
           <ng-container matColumnDef="room">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Room </th>
            <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.roomNumber}}</td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectAppointment(row)"></tr>
        </table>
 
        <tr>
          <td align="center">
            <button class="btn" (click)="schedule()">Schedule appointment</button>
          </td>
        </tr>

    </table>
  </form>
</div>
</body>
