input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.container {
    margin: 0 auto;
    width: 30%;
    margin-left:20%;
    background-color: rgba(50, 101, 131, 0.551);
  color:white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;

    box-shadow: 10px 10px 8px #818181;

}

table {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    margin-left:10%;
}

.button-row {
    text-align: center;
}
td {
    margin-bottom: 10px;
}

tr {
    height: 70px;
}

input {
    font-size: 15px;
    height: 25px;
}

span {
    color: red;
    font-size: 10px;
}

h1 {
    margin-top: 20px;
    margin-left: 8%;
}


body {
    overflow: auto;
    font-family: 'Varela Round', sans-serif;
    background-image: url(/assets/images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat:repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  
  .btn {
    color: rgb(94,111,120);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    border: none;
  }
  
    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  
    .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  
  .btn-white {
    background-color: #fff;
    color: #777;
    font-size: 14px;
  }
  
  .box {
    width: 350px;
    height: 250px;
    background: #2C394B;
    color: white;
    border-radius: 10px;
    position: absolute;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s;
  }
  
  .btn:checked ~ .box {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  
  .box p {
    font-size: 1.5em;
  }
  
  .box label {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    margin-top: 1em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 6px #556b88;
    transition: all .4s;
  }
  
  label:hover {
    box-shadow: 0px 0px 30px #788daa83;
  }