
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@font-face {
  font-family: OpenSans;
  src: url('/assets/fonts/OpenSans-CondLight.ttf'); /* IE9 */
}
body {
    overflow: auto;
    font-family: 'Varela Round', sans-serif;
    background-image: url(/assets/images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat:repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    
  }

  
.mat-card-title {
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.mat-card-content {
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  margin: 40px 20px 20px 20px;
}

.mat-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(50, 101, 131, 0.551);
  color:white;

  box-shadow: 10px 10px 8px #818181;
    border-radius: 15px;
}

.personal-info{
  width: 30%;
  margin-left:15%;
}

.row_container {
  display: flex;
  flex-flow: row;
  gap:50px;
  justify-content: baseline;
}

.col_container {
  display: flex;
  flex-flow: column;
  gap:5px;

}


mat-list {
  margin-top: 3%;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 150%;
  height: auto;
  white-space: nowrap;
  background-color: white;
  line-height: 1em;
  
  box-shadow: 10px 10px 8px #b7b7b7;
    border-radius: 10px;
  

}

mat-list-item{
  border-bottom: 1px solid rgb(173, 189, 198);
  text-align: center;
  color: rgba(50, 101, 131, 0.551);
}

h3 {
  font-size: 200%;
  color: rgb(20, 72, 102);
  font-stretch:ultra-condensed;
  font-size: 25px;
  margin-left:10%;
}