<mat-toolbar color="primary">

  <button class="button" mat-button (click)="HomeClick()">Home</button>
  <button class="button" mat-button (click)="AppointmentsClick()">Appointments</button>
  <button class="button" mat-button (click)="ProfileClick()">Profile</button>
  <button class="button" mat-button (click)="HealthMessurementsClick()">Health messurements</button>
  <div class="miniSpacer"></div>
  <span>Welcome, {{userFullName}}!</span>
  <div class="spacer"></div>
  <button class="button" mat-button (click)="LogOutClick()">Log Out</button>
</mat-toolbar>
