<body>
  <form id="formlogin">
    <table class="login_container">
      <tr><td class="credential_labels" align="center">Ime</td></tr>
      <tr>
        <td align="center">
          <input class="credential_inputs" type="text" [(ngModel)]="feedback.patient">
        </td>
      </tr>
      <tr>
        <td class="credential_labels" align="center">Komentar</td>
      </tr>
      <tr>
        <td align="center">
          <textarea class="credential_inputs" type="text" [(ngModel)]="feedback.text"></textarea>
        </td>
      </tr>
      <tr>
        <td align="center">
          <p>Visible?</p>
          <input type="checkbox" [(ngModel)]="feedback.visibleToPublic">
        </td>
      </tr>
      <tr>
        <td align="center">
          <button class="btn" (click)="post()">Post comment</button>
        </td>
      </tr>
    </table>
  </form>
  <div *ngIf="display" class="box">
    <p>Comment sent for review!</p>
    <label for="btn" (click)="close()">Close</label>
  </div>
</body>
