<body>
  <form id="formlogin">
    <table class="login_container">
      <tr>
        <td align="center">
          <p class="credential_labels">Do you want to stay anonymous?</p>
          <input type="checkbox" [(ngModel)]="feedback.anonymous" name="anonymous">
        </td>
      </tr>
      <tr>
        <td align="center">
          <p class="credential_labels">Should the comment be visible to public?</p>
          <input type="checkbox" [(ngModel)]="feedback.visibleToPublic" name="visibleToPublic">
        </td>
      </tr>
      <tr>
        <td class="credential_labels" align="center">Comment</td>
      </tr>
      <tr>
        <td align="center">
          <textarea class="credential_inputs" type="text" [(ngModel)]="feedback.text" name="text"></textarea>
        </td>
      </tr>

      <tr>
        <td align="center">
          <button class="btn" (click)="post()">Post comment</button>
        </td>
      </tr>
    </table>
  </form>
  <div *ngIf="display" class="box">
    <p>Comment sent for review!</p>
    <label for="btn" (click)="close()">Close</label>
  </div>
</body>
